<h1>Project: <%= @projects.name %></h1>

<p>Company: <%= @projects.company.name %></p>
<p>Default Rate: <%= @projects.default_rate %></p>
<p>Slug: <%= @projects.slug %></p>

<%= link_to 'All Projects', projects_path %>

<table>
	<tbody>
	<tr>
		<th>View</th>
		<th>User</th>
		<th>Project</th>
		<th>Date Performed</th>
		<th>Time Spent</th>
	</tr>
	<% @projects.works.each do |work| %>
		<tr>
			<td><%= link_to 'View', work %></td>
			<td><%= work.user %></td>
			<td><%= work.project %></td>
			<td><%= work.datetimeperformed %></td>
			<td><%= work.hours %></td>
		</tr>
	<% end %>
	</tbody>
</table>